# llm server 
llm-server/.env
llm-server/data_loader/__pycache__
llm-server/data_classifier/__pycache__
llm-server/ast
llm-server/.pytest_cache 
llm-server/ignore.py
llm-server/.secrets
llm-server/json_editor/ignoreme
llm-server/.gitignore 
llm-server/__pycache__
llm-server/tests/__pycache__

# streamlit application 
streamlit-app/.gitignore
streamlit-app/.stapp
streamlit-app/.secrets

# reactflow application 
react-flow-app/node_modules

# Logs
react-flow-app/logs
react-flow-app/*.log
react-flow-app/npm-debug.log*
react-flow-app/yarn-debug.log*
react-flow-app/yarn-error.log*
react-flow-app/pnpm-debug.log*
react-flow-app/lerna-debug.log*

react-flow-app/node_modules
react-flow-app/dist
react-flow-app/dist-ssr
react-flow-app/*.local

# Editor directories and files
react-flow-app/.vscode/*
react-flow-app/!.vscode/extensions.json
react-flow-app/.idea
react-flow-app/.DS_Store
react-flow-app/*.suo
react-flow-app/*.ntvs*
react-flow-app/*.njsproj
react-flow-app/*.sln
react-flow-app/*.sw?

# extras 
.env
.env_bin
.secrets
bucket_mount
