$primarycolor1: #00BF83;
$primarycolor2: #9CBF00;
$white:#fff;
$black:#1C2434;
$lightblack:#637381;
$red :#DC2626;
$green :#28a745;
$grey: #D2D5DA;
$lightgrey: #E2E8F0;
$lightgrey2: #F1F5F9;
