$number0: 0px;
$number1: 1px;
$number2: 2px;
$number3: 3px;
$number4: 4px;
$number5: 5px;
$number6: 6px;
$number7: 7px;
$number8: 8px;
$number9: 9px;
$number10: 10px;
$number11: 11px;
$number12: 12px;
$number13: 13px;
$number14: 14px;
$number15: 15px;
$number16: 16px;
$number17: 17px;
$number18: 18px;
$number19: 19px;
$number20: 20px;
$number21: 21px;
$number22: 22px;
$number23: 23px;
$number24: 24px;
$number25: 25px;
$number26: 26px;
$number27: 27px;
$number28: 28px;
$number29: 29px;
$number30: 30px;
$number31: 31px;
$number32: 32px;
$number33: 33px;
$number34: 34px;
$number35: 35px;
$number36: 36px;
$number37: 37px;
$number38: 38px;
$number39: 39px;
$number40: 40px;
$number41: 41px;
$number42: 42px;
$number43: 43px;
$number44: 44px;
$number45: 45px;
$number46: 46px;
$number47: 47px;
$number48: 48px;
$number49: 49px;
$number50: 50px;
$number54: 54px;
$number55: 55px;
$number56: 56px;
$number57: 57px;
$number58: 58px;
$number60: 60px;
$number65: 65px;
$number68: 68px;
$number69: 69px;
$number70: 70px;
$number72: 72px;
$number73: 73px;
$number75: 75px;
$number76: 76px;
$number77: 77px;
$number78: 78px;
$number80: 80px;
$number81: 81px;
$number82: 82px;
$number85: 85px;
$number90: 90px;
$number95: 95px;
$number100: 100px;
$number110: 110px;
$number115: 115px;
$number120: 120px;
$number125: 125px;
$number130: 130px;
$number140: 140px;
$number145: 145px;
$number150: 150px;
$number160: 160px;
$number170: 170px;
$number175: 175px;
$number180: 180px;
$number190: 190px;
$number200: 200px;
$number210: 210px;
$number220: 220px;
$number225: 225px;
$number230: 230px;
$number240: 240px;
$number250: 250px;
$number260: 260px;
$number265: 265px;
$number270: 270px;
$number280: 280px;
$number300: 300px;
$number320: 320px;
$number325: 325px;
$number345: 345px;
$number350: 350px;
$number370: 370px;
$number380: 380px;
$number385: 385px;
$number400: 400px;
$number415: 415px;
$number430: 430px;
$number450: 450px;
$number470: 470px;
$number480: 480px;
$number500: 500px;
$number550: 550px;
$number600: 600px;
$number630: 630px;
$number700: 700px;
$number750: 750px;
$number800: 800px;
$percentage0: 0%;
$percentage3: 3%;
$percentage5: 5%;
$percentage10: 10%;
$percentage15: 15%;
$percentage16: 16%;
$percentage18: 18%;
$percentage20: 20%;
$percentage23: 23%;
$percentage25: 25%;
$percentage27: 27%;
$percentage30: 30%;
$percentage32: 32%;
$percentage33: 33%;
$percentage35: 35%;
$percentage40: 40%;
$percentage42: 42%;
$percentage44: 44%;
$percentage45: 45%;
$percentage48: 48%;
$percentage50: 50%;
$percentage55: 55%;
$percentage60: 60%;
$percentage65: 65%;
$percentage70: 70%;
$percentage75: 75%;
$percentage77: 77%;
$percentage80: 80%;
$percentage85: 85%;
$percentage90: 90%;
$percentage95: 95%;
$percentage97: 97%;
$percentage98: 98%;
$percentage99: 99%;
$percentage100: 100%;
$viewport100: 100vh;